{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            {{ title }}
          </div>
          <div class="card-body">
          {% if form.errors %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}
          {% if is_edit %}
            <form
              method="post"
              action="{% url 'posts:post_edit' post_id %}"
              enctype="multipart/form-data"
              >
              {% include 'includes/form.html' %}
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                  Сохранить
                </button>
              </div>
            </form>
          {% else %}
            <form method="post" action="{% url 'posts:post_create' %}">
              {% include 'includes/form.html' %}
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                  Добавить
                </button>
              </div>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}